<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing borrower</h1>

  <%= render "form", borrower: @borrower %>

  <%= link_to "Show this borrower", @borrower, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to borrowers", borrowers_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
